.promo {
    box-sizing: border-box;
    padding: 82px 70px 122px;
    width: 100%;
    max-height: 524px;
    background-color: #f3c1f8;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.promo__background-image {
    width: 320px;
    height: 320px;
}
  
.promo__title {
    margin: 0;
    max-width: 730px;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    color: #000;
    letter-spacing: -.04em;
    text-align: center;
    position: absolute;
    top: auto;
    left: auto;
    right: auto;
}
  
@media screen and (max-width: 750px) {
    .promo__title {
        max-width: 500px;
        font-size: 45px;
        line-height: 50px;
     }
}
  
@media screen and (max-width: 570px) {
     .promo__title {
        max-width: 380px;
        font-size: 38px;
        line-height: 42px;
     }
}
  
@media screen and (max-width: 430px) {
     .promo {
        padding: 148px 10px 183px;
        max-height: 574px;
     }
  
    .promo__background-image {
        width: 248px;
        height: 248px;
     }
  
    .promo__title {
        font-size: 33px;
        line-height: 40px;
     }
}
  
@media screen and (max-width: 370px) {
    .promo__title {
        font-size: 31px;
        line-height: 39px;
     }
}